<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---css style-->
    <link rel="stylesheet" href="../assets/css/person.css" />

    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <div class="content">
        <div class="header">
          <img src="../assets/image/logo.png" alt="logo" />
          <h1>Contact List App</h1>
          <p>Developed by Success</p>
          <input id="search" type="search" placeholder="Search..." />
        </div>
        <div id="list" class="list"></div>
      </div>
    </section>

    <script src="../assets/js/person.js"></script>
  </body>
</html>
